
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App{
  background-color: rgb(243, 240, 240);
}

/* Main */

/* .teaDropDown{
  margin: 2rem;
} */

.addTea{
  padding-right: 2rem;
}

@media only screen and (min-width: 600px){
  /* Tea Card  */

.cardSubtitleAndType{
  font-size: 1.2em;
}

.teaCardImg{
  height: 8em; 
}

.cardTitle{
  font-size: 1.75em; 
}

.teaPlus{
  font-size: 2.5em;
  cursor: pointer;
}
  .teaCard{
    /* width: 90%; */
    min-height: 5em;
    
  }

  .teaCardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 43em;
    border: 1px solid rgb(248, 246, 246);
    border-radius: .5em; 
    /* maybe remove border radius? */
    background-color: rgb(249, 246, 246);
    margin: 0 2em;
  }

  .addTeaBtnContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-self: center;
    padding-top: 1em;
    width: 20%;
  }

  .teaContainer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
}

@media only screen and (min-width: 991px){
  .mobileSearchBar{
    display: none;
  }
}

/* Navbar */

.teaLogo{
  color:white;
  font-family: sans-serif;
  font-weight: 1200;
} 
/* teaLogo class not applying. look at later */

/* Login */

.loginContainer{
  width: 80%;
}

/* Tea Card  */

.teaCardImg{
  height: 5.5em; 
}

.teaCard{
  width: 100%;
}

/* Footer */

.footerIcon{
  font-size: 1.75em;
  margin: .5em;
}