
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App{
  background-color: rgb(243, 240, 240);
}

.alertBar{
  position: absolute;
  margin-top: 2.8em;
  width: 12em;
  height: 2.7em;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  border-radius: 5px;
}

#dropdown-basic-button{
  z-index: 1;
}

/* Main */

.addTeaBtn{
  position: sticky;
  top: 4em;
}

.rating_div{
  padding: .175em;
}


.addTea{
  padding-right: 2rem;
}

.teaCardImg{
  height: 4em;
}

/* UserProfile */

.userProfileContainer{
  max-width: 76rem;
}

.userProfileLogo{
  margin-bottom: .8rem;
  margin-left: .5em;
  margin-right: .25em;
  font-size: 2.5em;
}

.userProfileName{
  font-size: 2.5em;
}

.userProfileHeader{
  background-size: cover;
  background-position: bottom;
  background-image: url('../public/images/userprofile-background3.png');
}

.userProfileDescription{
  margin-right: 1.5rem;
  border-radius: 5px;
}

.userProfileDisplayTeas{
  margin-right: 1.5rem;
  border-radius: 5px;
}

.userTeaListContainer{
  border-radius: 5px;
}

/* Navbar */

.search-img{
  height: 25px;
  width: 25px;
  margin-right: .5em
}

.search-item{
  width: 200px;
  height: 35px;
  /* margin: .05em; */
  margin-left: 1em;
  margin-top: .35em;
  padding: 1em;
  z-index: 4;
}

.search-results-container{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  top: 50px;
}

.search-results-box{
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;;
  top: 6%;
  z-index: 3;
  display: flex;
  margin-left: 2em;
  width: 14em;
}
  /* margin-left: 12em;
}

.teatalkLogo{
  font-size: 1.5rem;
  font-weight: 800;
  margin-left: .5em;
} 

/* Login */

.login-container{
  background-image: url('../public/images/mike-kotsch-Ahw8RcpDCXI-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* .loginContainer{
  width: 80%;
} */

/* Tea Card  */

.cardTitle{
  font-size: 1.25em;
  cursor: pointer;
}

.teaCard{
  width: 100%;
}

.teaCardImg{
  height: 4em;
}

.cardDescription{
  font-size: .9em;
}

.teaPlus{
  font-size: 2em;
}

/* Comment Form */

.comment_container{
  background: white;
  border-radius: 10px;
}

/* FavoriteList */

.teaListMsg{
  font-size: .8em;
}

.listNameContainer{
  margin-bottom: 1.5rem;
}

.listName{
  margin: .5em 0;
  cursor: pointer;
  max-width: 19em;  
  
}

/* .listName:hover{
  transform: scale(1.01); 
  transition: all .2s ease-in-out; 
  margin-left: .5rem; 
} */

.listLength{
  margin-left: 1em;
  font-size: .75em;
}

/* Profile Tea List */

.profileTeaListImg{
  height: 4em;
}

/* Footer */

.footerIcon{
  font-size: 1.75em;
  margin: .5em;
}

/* fix responsiveness for userProfile */


.userProfileContainer{
  margin: 0 .5em;
}

.userProfileEditBtn{
  cursor: pointer;
}


@media only screen and (max-width: 599px){
  .addTeaBtnContainer{
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 600px){

  /* User Profile */

.userProfileLogo{
  font-size: 4.5em;
}

/* .userTeaListContainer{
  width: 33.3%
} */

  /* Tea Card  */

.cardSubtitleAndType{
  font-size: 1.2em;
}

.teaCardImg{
  height: 5.5em; 
}

.cardTitle{
  font-size: 1.35em;
  font-weight: 500; 
  cursor: pointer;
}

.cardSubtitle{
  font-size: .9em;
  font-weight: 400;
}

.teaPlus{
  font-size: 2.5em;
  cursor: pointer;
}
  .teaCard{
    /* width: 90%; */
    min-height: 5em;
    margin-bottom: .5em;
  }

  .cardDescription{
    font-size: .9em;
  }

  .teaCardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 43em;
    border: 1px solid rgb(248, 246, 246);
    border-radius: .5em; 
    /* maybe remove border radius? */
    background-color: rgb(249, 246, 246);
    margin: 0 2em;
    margin-top: 1rem;
  }

  .addTea{
    height: 100%;
  }

  .addTeaBtnContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-self: center;
    padding-top: 1em;
    /* width: 20%; */
    /* check this later */
  }

  .teaContainer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  /* Navigation Bar */
}

@media only screen and (min-width: 991px){

  .mobileSearchBar{
    display: none;
  }

  .navBarSignOut{
    margin-left: .5em;
  }
}
