
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Main */

/* .teaDropDown{
  margin: 2rem;
} */

.addTea{
  padding-right: 2rem;
}

@media only screen and (min-width: 600px){
  .teaCard{
    width: 75%;
    min-height: 4em;
    
  }

  .teaCardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40em;
  }

  .addTeaBtnContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-self: center;
    padding-top: 1em;
    width: 20%;
  }

  .teaContainer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
}

@media only screen and (min-width: 991px){
  .mobileSearchBar{
    display: none;
  }
}

/* Navbar */

.teaLogo{
  color:white;
  font-family: sans-serif;
  font-weight: 1200;
} 
/* teaLogo class not applying. look at later */

/* Login */

/* Tea Card  */

.teaPlus{
  font-size: 1.5em;
  cursor: pointer;
}

/* Footer */

.footerIcon{
  font-size: 1.75em;
  margin: .5em;
}